@import url("./mediaquerie/mediaquerie320px.css");
@import url("./mediaquerie/mediaquerie1024px.css");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Square+Peg&display=swap');

/* --Reset-- */
*,*::before, *::after{
    box-sizing: border-box;
}
html{
  font-size: 14px;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow-y: scroll;
  background-color: var(--myDarkBlue);
  color: #FFFFFF;
  height: auto;
}

h1,h2,i,p{
  margin-top: 0;
  margin-bottom: 0;
}
img{
  display: block;
}

  /* header */

:root{
  --aquamarine: #34B0BE;
  --gray:#D1CECA;
  --darkblue:#242635;
  --myDarkBlue: #010319;
  --white: #FFFFFF;
}




