@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Square+Peg&display=swap');

/* --Reset-- */
*,*::before, *::after{
    box-sizing: border-box;
}
html{
  font-size: 14px;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow-y: scroll;
  background-color: var(--myDarkBlue);
  color: #FFFFFF;
  height: auto;
}
h1,h2,i,p{
  margin-top: 0;
  margin-bottom: 0;
}
img{
  display: block;
}

  /* header */

:root{
  --aquamarine: #34B0BE;
  --gray:#D1CECA;
  --darkblue:#242635;
  --myDarkBlue: #010319;
  --white: #FFFFFF;
}

@media screen and (min-width:320px) {
  .fa-bars{ 
    position: absolute;
    top: .8rem;
    right: .8rem;
    font-size: 20px;
  }
  
  .input-menu{
    display: none;
  }
  
  .header-nav_ul{
    list-style: none;
    position: absolute;
    background-color: var(--darkblue);
    max-width: calc(100% - 11.5rem);
    right: 1rem;
    top: 17rem;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transition: all .5s linear;
    z-index: 30;
    border-radius: 10px;
  }
  
  .nav-ul_li{
    padding: 10px;
  }
  .input-menu:checked ~ .header-nav_ul{
    left: 25%;
    right: 25%;
    opacity: 1;
  }
  a{
    text-decoration: none;
    color: var(--white);
  }

  .nav-ul_li:hover{
    transform: scale(1.18);
  }
  a:hover{
    color: var(--aquamarine);
    transition: color 0.4s;
  }

  .content{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    top:-70px;
  }

  .tittle{
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 50px;
    z-index: 2;
  }

  .text{
    font-size: 25px;
  }

  .linea1{
    display: none;
  }

  .linea2{
    width: 80%;
    height: 2px;
    background-color: var(--white);
  }

  .nombre{
    color: var(--aquamarine);
    font-size: 35px;
    font-weight: bold;
  }

  .profesion{
    font-size: 20px;
  }

  .redes{
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 2;
    
  }

  .icons-perfect{
    width: 28px;
    height: 28px;
    background-color: var(--gray);
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    
  }

  .content-iconos{
    display: flex;
    justify-content: space-around;
  }

  .imgs{
    width: 20px;
    height: 20px;
  }

  .tiempo{
    text-align: left;
    font-size: 19px;
    color: var(--aquamarine);    
  }
  
  .experiencia{
    color: var(--white);
    font-size: 19px;
  }

  .foto{
    width: 8rem;
    height: 12rem;
    padding: -100px;
    align-items: center;
    position: absolute;
    z-index: 1;
  }
  .imagen{
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkblue);
    border-radius: 100%;
  }

  .rectangulo{
    width: 90%;
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: var(--darkblue);
    position: relative;
    z-index: 3;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 10px;
    top:-50px;
  }

  .box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
  }

  .social-network{
    width: 5rem;
    height: 4rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
  }

  .rectangulo_redes{
    width: 50;
    height: 50%;
    background-color: transparent;
    display: inline-block;
    flex-direction: row;
  }

  h2{
    color: var(--aquamarine);
    text-align: center;
  }

  p{
    text-align: justify;
  }

  .about-me{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .description{
    padding: 20px 20px;
    text-align: center;
  }

  .section-one{
    margin-top: 4rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
  }

  .div-contenedor{
    overflow-y:hidden;
    overflow-x:auto ;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
  }

  .overflow{
    width: 50rem;
    height: auto;
    display: flex;
    gap: 20px;
    padding: 0 10px;
  }

  .servicios{
    color: var(--aquamarine);
  }

  .card{
    background-color: var(--white);
    border-radius: 5px;
    width: 200px;
    height: 250px;
    color: var(--gray);
  }

.desing{
  color: var(--darkblue);
  text-align: center;
}

.info-desing{
  text-align: center;
}

}



/* nav{
   display: flex;
  text-align: center;
  justify-content: right;
  align-items: center;
  color: var(--white);
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

span{
  font-size: 40px;
  color: var(--aquamarine);
}
.lista-li{
  list-style: none;
  display: inline-block;
  padding-right: 30px;    
}

a{
  text-decoration: none;
  color: var(--white);
}

a:hover{
  color: var(--aquamarine);
}

.content{
  display: flex;
  justify-content: center;
}

img{
  width: 26rem;
  height: 38rem;
  padding: -100px;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.imagen{
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkblue);
  border-radius: 100%;
}

.redes{ 
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  background-color: white;
  color: #010319;
  position: absolute;
  top: 3rem;
  right: 3rem;
  gap: 80%;
}
.content-iconos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  height: 60px;
  align-items: center;
}
.icons-perfect{
  align-items: center;
  background-color: var(--gray);  
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding-bottom: -20px;
}

.rectangulo{
  width: ;
}

.social-network{
  background-color: var(--white);

} */




